<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <!--
    ====================================================================================================
    START: Overview
    ====================================================================================================
    
    Sometimes, there is a need to provoke a controlled failure in the installation process. For example,
    when we want to test the rollback custom actions, it would be useful to raise an error at the very
    end of the installation process.
    
    One way to solve this problem is to create a deferred custom action that returns a failure as a
    response. Well, it would also be useful to have a public property that controls when the custom
    action should fail and when it should succeed.
    
    The FireGiant team already created this custom action for us to use. It is called WixFailWhenDeferred:
        - https://wixtoolset.org/documentation/manual/v3/customactions/wixfailwhendeferred.html
    
    The current project demonstrates how to use this mechanism. Proceed to the first step.
    
    NEXT: Product.wxs
    -->

    <!--
    ====================================================================================================
    Step 1: Add a reference to the WixUtilExtension library
    ====================================================================================================
    
    Right click on the project -> Add -> Reference -> Browse ->
    "c:\Program Files (x86)\WiX Toolset v3.11\bin\WixUtilExtension.dll"
    
    NEXT: Product.wxs
    -->

    <Product
        Id="*"
        Name="Planned Failure"
        Language="1033"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="01078873-6969-423a-badb-850df2e4da5a">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Feature
            Id="ProductFeature"
            Title="Planned Failure"
            Level="1">

            <ComponentGroupRef Id="FileComponents" />
        </Feature>

        <!--
        ====================================================================================================
        Step 2: Reference the WixFailWhenDeferred custom action
        ====================================================================================================
        
        By referencing the custom action, it will be included also the WIXFAILWHENDEFERRED public property.
        This property is controlling the custom action:
            - if WIXFAILWHENDEFERRED = 1, then the WixFailWhenDeferred custom action will fail.
            - if WIXFAILWHENDEFERRED = anything else, then the WixFailWhenDeferred custom action will
              succeed.
        
        NEXT: install-with-error.bat
        -->

        <CustomActionRef Id="WixFailWhenDeferred" />

    </Product>

</Wix>